.erreur{
    color:red;
    margin: 10px 0;
    text-align: center;
}
form input[type='submit']{
    transition: 0.5s;
}
form input[type='submit']:hover{
    background-color: rgb(16, 117, 31);
    transform: scale(0.9);
}